{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5">Import</h1>
      <p class="lead">Upload a csv file describing a transaction on warehouse inventory</p>
      <form action="import" method="POST" enctype="multipart/form-data">
        <label class="btn btn-primary" for="file-selector">
          <input name='csvfile' id="file-selector" type="file" style="display:none" onchange="$('#file').html(this.files[0].name);">Upload...
        </label>
        <span class='label label-info' id="file"></span><br/> 
        <button class="btn btn-default" type="submit">Submit</button>
        <button class="btn btn-default" type="reset" onclick="$('#file').html('');">Cancel</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}