{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">Create Invoice</h1>
        <p class="lead">Here you can create an invoice. Enter all necessary fields</p>
      </div>
    </div>
    <!-- Alert notification -->
    {% if inv_alert %}
      <div class="row">
        {% if inv_alert == "success" %}
          <div class="alert alert-success" role="alert">
            <strong>Success!</strong> Invoice # {{ inv_file_data[1] }} can be acccessed <a href= {{ "/invoices?num=" + inv_file_data[1] + "&ext=" + inv_file_data[2] }}>here</a>.
          </div>
        {% elif inv_alert == "failed" %}
          <div class="alert alert-warning" role="alert">
            <strong>Failed!</strong> Something went wrong and invoice was not created.
            <div id="error_message">{{ message }}</div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <!-- END ALERT NOTIFICATION -->
    <form method="POST" action="/invCreate">
      <div class="row" id="static_invoice_details">
        <div class="col-md-4 mb-3">
          <label for="validationDefault01">Customer ID</label>
          <input type="text" class="form-control" id="customer" name="customer" placeholder="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Seller</label>
          <input type="text" class="form-control" id="seller" name="seller" placeholder="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label>Date</label>
          <h2>{{ todays_date }}</h2>
        </div>
      </div>
<div id="line_items" name="lines[]">
  <div class="row" line=1 id="line_1">
        <div class="col-md-9 mb-3">
          <label for="validationDefault04">Product Part Number</label>
          <input id="1_product" class="form-control" name="products[]" placeholder="" required="" type="text">
          <div class="invalid-feedback">
            Please provide product part number.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault05">Qty</label>
          <input id="1_quantity" class="form-control" name="qtys[]" placeholder="" required="" type="number">
          <div class="invalid-feedback">
            Please provide quantity.
          </div>
        </div>
        </div>
        </div>
      <input class="btn btn-primary" type="button" value="Add another line" onClick="addLine('line_items');">
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div><!-- END OF CONTAINER -->
  {% endblock %}