<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A warehouse managament site for an automotive fluids sales group.">
  <meta name="author" content="CPSC-430: Warehouse 2">
  <script src="https://use.fontawesome.com/444b76bd41.js"></script>
  <script src="/static/custom/invoice_ui.js"></script>


  <title>WMS - Warehouse Management System</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link href="static/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />


  <!-- Custom styles for this template -->
  <style>
    body {
      padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }
  </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Warehouse Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if sessionUser[0] != '' %}
              {% if sessionUser[2] == 0 %}
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Admin</a>
                </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customers">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/import">Import</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li>
             <!--<li class="nav-item">
               <a class="nav-link" href="/">
               Checkout&nbsp;<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
             
            </li>-->
          <li class="nav-item">
            <a class="nav-link btn-secondary" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/popper/popper.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/datepicker/js/bootstrap-datepicker.min.js"></script>
</body>

</html>